/*Libraries*/


/*Reset default spacing*/

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
   background-image: url(../CSS/download.jpg);
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
   image-rendering: auto;

}

/* Header container */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 1rem 2rem;
  background-color: #05205f; 
  color: white;

  position: sticky;
  top: 0;
  z-index: 1000;
  
  box-shadow: 0 5px 15px rgba(8, 107, 219, 0.2);
}

/* Navigation */
nav {
  display: flex;
  gap: 8rem;
}

/* Nav links */
nav a {
  text-decoration: none;
  color: #e2e8f0;
  font-size: 1rem;
  transition: all 0.3s ease;
  position: relative;
  justify-content: space-between;
  margin-right: 9px;
}

/* Hover effect */
nav a:hover {
  color: #ce2424;
  background-color: #1550cf;
  border-radius: 6px;
  padding: 0.5rem;
  text-decoration: underline;
  
}

/* Underline animation */
.nav a::after {
  content: "";
  position: absolute;
  width: 0%;
  height: 2px;
  background: #38bdf8;
  left: 0;
  bottom: -5px;
  transition: 0.3s;
}

.nav a:hover::after {
  width: 100%;
}

/*Sections styling*/

/*Hero section styling*/
.hero{
     background: linear-gradient(to bottom, #05205f, rgb(21, 52, 190));
     padding: 1.3rem;
     justify-items: center;
     display: grid;
     row-gap: 1.3em;
}
.hero a{
text-decoration: none;
color: white;
padding: 1em;
display: block;
margin: 0 auto;
width: fit-content;
background-color: #1550cf;
border-radius: 5px;
box-shadow: 0 3px 4px 0 rgb(14, 102, 160);
}
.hero a:hover{
    border-radius: 40px;
    transform: scale(.9);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    transition: transform 0.3s ease-in-out;
}
.hero a:after{
  content: "";
  position: absolute;
  width: 0%;
  height: 2px;
  background: #38bdf8;
  left: 0;
  bottom: -5px;
  transition: 0.3s;
}

/*Features styling*/

.features{
    padding: 2em;
    display: grid;
    row-gap: 2em;
}
.card{
    -webkit-backdrop-filter: blur(10px);
    padding: 5em;
    background-color: white;
    box-shadow: 0 4px 1px 0 rgb(21, 52, 190);
    border-radius: 8px;
    text-align: center;
    font-weight: bold;
}
.card:hover{
    transform: translateY(-5px);
    transition: transform 0.3s ease-in;
}


/*Login page............................................................................*/
login-header{
display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 1rem 2rem;
  background-color: #05205f; 
  color: white;

  position: sticky;
  top: 0;
  z-index: 1000;
  box-shadow: 0 5px 15px rgba(8, 107, 219, 0.2);
}

.form-container{
    padding:10em;
    justify-items:center;
    display: grid;
    
    position: relative;
}
.form-container form div{
  display: grid;
  row-gap: 
}
.form{
    display: grid;
    row-gap: 2em;
    background-color: #05205f;
    -webkit-backdrop-filter: blur(10px);
   background: transparent rgb(14, 102, 160);
   border-radius: 9px;
   padding: 1.7em 5em 1.7em 5em;
   box-shadow: 0 4px 15px rgba(13, 66, 211, 0.5);
}
.form h2{
  font-weight: bold;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.form div label{
  font-weight: bold;
  padding-bottom: 1.1em;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

input,select,button{
  border-radius: 1.5em;
  padding: 3px;
  height: 4em;
  width: 28em;
  border-width: 3px;
  border-color: #38bdf8;
}
button {
  position: relative;
  padding: 12px 30px;
  font-size: 16px;
  color: #fff;
  background-color: #1e3a8a; /* button background */
  border: none;
  border-radius: 8px;
  cursor: pointer;
  overflow: hidden;  /* important for animation */
  z-index: 1;
}
button{
  background-color: aqua;
}
/* create the moving border */
